body{
    background-color: MediumOrchid;
    font-family: "Bellota", cursive;
    input, select {
        font-size: 18px;
        background-color: #eeccff;
        width: 200px;
        margin: 5px;
        border-radius: 8px;
        margin: 5px 20px;
    }
    }
       
       .container {
        display: flex;
        justify-content: space-between;
        align-content: stretch;
       }
       form {
        background-color: lightcoral;
        border-radius: 25px;
        padding: 15px;
        height: 240px;
        width: 360px;
        align-content: stretch;
        justify-content: center;
        
       }
       button {
        display: flex;
        justify-content: center;
        width: 300 px;
        height: 200 px;
        font-size: 20px;
        margin: 15px 100px;
        padding: 3px 60px;
        border-radius: 8px;
        background-color: #eeccff;
        border-width: 4px;
       }
       